<h1>{{_id}}</h1>
<p> nameTrip: {{nameTrip}}</p>
<p> whereFrom: {{whereFrom}}</p>
<p> whereTo: {{whereTo}}</p>
<p> dateStart: {{dateStart}} </p>
<p> dateEnd: {{dateEnd}} </p>
<p> flexibleDate: {{flexibleDate}} </p>
<a href="/voyage/edit/{{_id}}">
        <button>
                Edit Voyage
        </button>
</a>
<form action="/voyage/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Voyage"/>
 </form> 
<a href="/voyage">Go Back</a>