<h1>{{singleUser._id}}</h1>
<p> user: {{singleUser.user}}</p>
<p> password: {{singleUser.password}}</p>
<p> voyageId: {{singleUser.voyageId}}</p>
<a href="/user/edit/{{_id}}">
        <button> Edit User </button>
</a>
<form action="/user/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete User"/>
 </form> 
<a href="/user">Go Back</a>