<h1>{{_id}}</h1>
<p> user: {{user}}</p>
<p> password: {{password}}</p>
<p> <a href="/voyage">Go to Voyages</a></p>
{{!-- <p> voyageId: {{voyageId}}</p> --}}
<a href="/user/edit/{{_id}}">
        <button> Edit User </button>
</a>
<form action="/user/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete User"/>
 </form> 
<a href="/user">Go Back</a>