<h1>entry : {{_id}}</h1>
<div id="container">
        <div id="singleusercon">
<p> guest: {{user}}</p>
<p> note: {{password}}</p>
<p> <a href="/voyage">Go to Voyages</a></p>
{{!-- <p> voyageId: {{voyageId}}</p> --}}
<a href="/user/edit/{{_id}}">
        <button> Edit User </button>
</a>
<form action="/user/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete User"/>
 </form> 
<a href="/user">Go Back</a>
</div></div>