{{!-- <div>Voyage Name</div>  --}}
<h1>Legs</h1><a href="/legger/new/">Add Leg</a>
<div id="container">
    <div class="contained" id="left">
    {{#each allLegger}}
        <div class="infoBlock">
            <a href="/legger/{{_id}}">
                {{leg}} <div class="thumb">{{methodOfTransport}}</div><br> 
                <h3><br>Start: {{hubInitial}} <br> End: {{hubTerminus}} <br><br></h3>
                
                <h2>$<div class="val">{{costOfLeg}}</div> Hours: {{timeOfLeg}} <br></h2>
            </a>
            
            <div class="image"></div>
            
        </div>
    {{/each}}
    </div>
    <div class="contained" id="playTable">
        <div class="row" id="1">
            <div class="adder" id="uno"> 
                H: 
                <br>
                $: 
            </div>
        </div>
        <div class="row" id="2">
            <div class="adder" id="dos"></div>
        </div>
        <div class="row" id="3">
            <div class="adder" id="tres"></div>
        </div>
    </div>
</div>
