<form action="/legger/{{_id}}?_method=PUT" method="POST">
    <input type="text" name="leg" placeholder="leg" value="{{leg}}"/> <br>
    <input type="text" name="hubInitial" placeholder="hubInitial" value="{{hubInitial}}"/> <br>
    <input type="text" name="hubTerminus" placeholder="hubTerminus" value="{{hubTerminus}}"/> <br>
    <input type="Boolean" name="direction" placeholder="direction" value="{{direction}}"/> <br>
    <input type="Boolean" name="oneWayOrRoundTrip" placeholder="oneWayOrRoundTrip" value="{{oneWayOrRoundTrip}}"/> <br>
    <input type="text" name="methodOfTransport" placeholder="methodOfTransport" value="{{methodOfTransport}}"/> <br>
    <input type="number" name="costOfLeg" placeholder="costOfLeg" value="{{costOfLeg}}"/> <br>
    <input type="submit" value="Save"/>
</form>
