<h1>{{_id}}</h1>
<p> nameTrip: {{nameTrip}}</p>
<p> whereFrom: {{whereFrom}}</p>
<p> whereTo: {{whereTo}}</p>
<p> dateStart: {{dateStart}} </p>
<p> dateEnd: {{dateEnd}} </p>
<p> flexibleDate: {{flexibleDate}} </p>
<a href="/legger/edit/{{_id}}">
        <button>
                Edit Legger
        </button>
</a>
<form action="/legger/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Legger"/>
 </form> 
<a href="/legger">Go Back</a>