<form action="/voyage/{{singleVoyage._id}}?_method=PUT" method="POST">
    <input type="text" name="nameTrip" placeholder="nameTrip" value="{{nameTrip}}"/> <br>
    <input type="text" name="whereFrom" placeholder="whereFrom" value="{{whereFrom}}"/> <br>
    <input type="text" name="whereTo" placeholder="whereTo" value="{{whereTo}}"/> <br>
    <input type="date" name="dateStart" placeholder="dateStart" value="{{dateStart}}"/> <br>
    <input type="date" name="dateEnd" placeholder="dateEnd" value="{{dateEnd}}"/> <br>
    <input type="boolean" name="flexibleDate" placeholder="flexibleDate" value="{{flexibleDate}}"/> <br>
    <input type="submit" value="Save"/>
</form>
