<h1>{{singleVoyage._id}}</h1>
<div id="container"> <div id="singlevoyagecon">
<p> Trip Name: {{singleVoyage.nameTrip}}</p>
<p> Origin: {{singleVoyage.whereFrom}}</p>
<p> Destination: {{singleVoyage.whereTo}}</p>
<p> dateStart: {{singleVoyage.dateStart}} </p>
<p> dateEnd: {{singleVoyage.dateEnd}} </p>
<p> flexibleDate: {{singleVoyage.flexibleDate}} </p>
<a href="/voyage/edit/{{singleVoyage._id}}">
        <button>
                Edit Voyage
        </button>
</a>
<form action="/voyage/{{singleVoyage._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Voyage"/>
 </form> 
{{#each voyageUser}}
    <p>{{nameTrip}}</p>
{{/each}}
        <p><a href="/legger">Go to Legs of Voyage</a></p>
<a href="/voyage">Go Back</a>
</div></div>